@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary: #f26e00;
    --secondary: #fc8b2f;
    --white: #fff;
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--black);
    transition: all .3s linear;
}

ul {
    list-style: none;
}

h2{
    font-size: 36px;
    font-weight: 400;
}

h4{
    transition: all .3s linear;
}

p{
    line-height: 1.5;
}


.container {
    width: 1320px;
    margin: 0 auto;
}

.section-padding {
    padding: 60px 0;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
}


.mb-15{
    margin-bottom: 15px;
}

.site-url{
    color: var(--primary);
}

/* color */

.lavender{
    background: #E6E6FA;
}

.cornsilk{
    background: #FFF8DC;
}

.honeydew{
    background: #F0FFF0;
}

.ghostwhite{
    background: #F8F8FF;
}

/* menu section start */
.menu {
    background: var(--primary);
}

.menu .menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .menu-section .nav {
    display: flex;
}

.menu .menu-section a {
    color: var(--white);

}

.menu .menu-section .nav a {
    padding: 15px 20px;
}

.menu .menu-section .nav a:hover {
    background: var(--secondary);
}

.menu .main-menu {
    display: flex;
    align-items: center;
}

.menu .buttons {
    padding: 15px 20px;
    color: var(--white);
    border: 1px solid var(--white);
    border-top: 0;
    border-bottom: 0;
}

.menu .buttons .active {
    color: var(--black);
}

.menu .help {
    padding: 16px 20px;
    background: var(--black);
}

.menu .menu-btn {
    display: none;
}

/* menu section end */


/* slider section start */
.hero-slider {
    position: relative;
}

.hero .slider {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}

.hero .slider::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #00000069;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.hero .slider .text-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .slider h2 {
    text-align: center;
    font-size: 45px;
    line-height: 1.5;
    width: 70%;
    color: var(--white);
}

.hero .slick-arrow {
    width: 40px;
    height: 40px;
    background: var(--primary);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}


.hero .slick-prev {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.hero .slick-next {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.hero .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
}

.hero .slick-dots li {
    margin: 0 0.25rem;
}

.hero .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: var(--primary);
    text-indent: -9999px;
    cursor: pointer
}

.hero .slick-dots li.slick-active button {
    background-color: var(--secondary);
}

/* slider section end */

/* service section start */
.services .servive-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.services .servive-section .item a {
    width: 100%;
}


.services .service {
    padding: 45px 30px;
    border-radius: 10px;
    color: var(--black);
    position: relative;
    overflow: hidden;
    transition: all .3s linear;
}
.services .service .text{
    position: relative;
    z-index: 1;
}

.services .service:hover img{
    transform: scale(1.2);
}
.services .service img{
    position: absolute;
    width: 180px;
    bottom: 0;
    right: 0;
    transition: all .3s linear;
}

.services .service h4 {
    font-size: 25px;
    margin-bottom: 10px;
    transition: all .3s linear;
}

.services .service p {
    width: 50%;
}

.services .service:hover h4 {
    color: var(--primary);
}

/* service section end */



/* banner section start */
.banner-section{
    display: flex;
    gap: 20px;
}

.banner-section .banner{
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--primary);
}

.banner-section .banner .image{
    position: relative;
    flex-basis: 50%;
    display: flex;
}


.banner-section .banner .image .shape{
    position: absolute;
    background: #FFF8DC;
    top: 0;
    right: -51px;


    clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 0% 50%);
    width: 100px;
    height: 100%;
}

.banner-section .banner img{
    width: 100%;
    height: 100%;
}


.banner-section .banner .banner-text{
    flex-basis: 50%;
    padding-right: 30px;
}



/* banner section end */


/* other service section start */
.service-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.other-services .card{
    box-shadow: 0 0 7px rgb(0 0 0 / 20%);
    padding: 12px 25px;
    border-radius: 8px;
    transition: all .3s linear;
}

.other-services .card:hover{
    box-shadow: 0 0 7px 5px rgb(0 0 0 / 20%);
}

.other-services .card:hover h4{
    color: var(--primary);
}

.other-services .service a{
    display: flex;
    align-items: center;
}

.other-services .service img{
    width: 60px;
}

.other-services .service .text{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* other service section end */